/* === General === */
@font-face{
    font-family: 'Alfie';
    src: url('./assets/fonts/alfie.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Abel';
    src: url('./assets/fonts/abel.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Proximanova';
    src: url('./assets/fonts/proximanova-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5rem;
    background-color: #fff;
    color: rgb(61, 66, 70);
    font-size: 16px;
    font-family: Abel, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
*{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
head{
    display: none;
}
script{
    display: none;
}
spacer{
    flex: 1;
}

 /* === Header === */
announcement-bar{
    background-color: #7745ae;
    min-height: 44px;
    justify-content: center;
    text-align: center;
}

bar-message{
    color: #fff;
}

site-header{
    flex-direction: row;
    padding: 0 55px;
    min-height: 126px;
    align-items: center;
    justify-content: center;
}
.logo{
    margin: 15px 0;

}
nav{
    margin: 25px 0;
}
nav ul{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

nav li:hover{
    text-decoration: underline;
}

dropdown-icon{
    margin-left: 8px;
    font-size: 12px;
}
ion-icon:hover{
    color: red;
}

controls{
    flex-direction: row;
    font-size: 22px;
}

controls ion-icon{
    margin-left: 20px;
}

.bag{
    position: relative;
}

.bag:after{
    content: '';
    position: absolute;
    background: #557b97;
    top: -25%;
    left: 75%;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.bag-count{
    position: absolute;
    color: #fff;
    z-index: 2;
    font-size: 12px;
    left: 88%;
    top: -25%;
}

@media (max-width: 425px){
    site-header{
        flex-direction: column;
        padding: 0;
    }

    controls{
        margin-bottom: 20px;
    }

}

/* === Hero Image === */
hero{
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("http://placekitten.com/1920/600");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.page-title{
    color: #fff;
    margin: 0;
    font-size: 65px;
    font-family: Alfie, serif;
    font-weight: 400;
    text-shadow: 0 0 4px rgba(0,0,0,0.4)
}
.page-subtitle{
    color: #fff;
    margin-top: 40px;
    max-width: 48ch;
    font-size: 20px;
    font-family: Abel, sans-serif;
    font-weight: 400;
    text-shadow: 0 0 4px rgba(0,0,0,0.4)
}

cta{
    margin-top: 20px;
    color: #354051;
    background-color: #ffeeaa;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 18px;
}

cta:hover{
    color: white;
    background-color: #436076
}

/* === Product === */
center-wrapper{
    align-self: center;
    max-width: 1200px;
}

summer-collection{
    margin-top: 110px;

}
section-title{
    margin-bottom: 55px;
    text-align: center;
    font-family: Alfie, serif;
    font-size: 20px;
    text-transform: uppercase;
}
product-image{
    display: block;
    height: auto;
    width: 100%;
}

product{
    overflow: hidden;
    flex: 0 0 15%;
    margin: 0 5% 5%;
}

product-image{
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

product-row{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

@media (max-width: 768px){
    center-wrapper{
        max-width: 480px;
    }
    product{
        flex: 0 0 40%;
        margin: 0 5% 5%;
    }
}

@media (max-width: 425px){
    center-wrapper{
        max-width: 300px;
    }
    product{
        flex: 0 0 80%;
        margin: 0 10% 5%;
    }
}

.favorite-heart{
    color: #7745ae;
    font-size: 20px;
}

view-all{
    align-self: center;
    margin: 55px 0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 10px 18px;
    background: #557b97;
    font-size: 14px;
    text-transform: uppercase;
}

/* === Category === */
shop-by-style{
    margin-bottom: 55px;
    justify-content: space-between;
    align-items: space-between;
}

shop-by-style product-row:last-child{
    margin-bottom: 0;
}

category{
    overflow: hidden;
    flex: 0 0 25%;
    margin: 0 4% 5%;
    position: relative;
}

category-image{
    width: 100%;
    padding-top: 100%;
    background-image: url("http://placekitten.com/185/185");
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.8) contrast(.7);
}

category-text{
    position: absolute;
    font-family: Alfie, serif;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.4)
}

@media (max-width: 768px){
    category{
        flex: 0 0 40%;
        margin: 0 5% 5%;
    }
}

@media (max-width: 425px){
    category{
        flex: 0 0 90%;
        margin: 0 5% 5%;
    }
}

/* === Instagram === */
insta-feed{
    margin-bottom: 55px;
}

.insta-example{
    flex: 0 0 20%;
    flex-wrap: wrap;
    margin: 0 1% 1%;

}

@media (max-width: 768px){
    .insta-example{
        flex: 0 0 40%;
        margin: 0 5% 5%;
    }
}

@media (max-width: 425px){
    .insta-example{
        flex: 1 1 90%;
        margin: 0 5% 5%;
    }
}

/* === Footer === */
lower-wrapper{
    background: #f5f5f5;
}
footer{
    overflow: hidden;
    flex: 1;
    flex-direction: row;
    align-self: center;
    max-width: 1200px;
    padding-top: 45px;
}
footer-column{
    flex: 1;
}
column-header{
    font-size: 17px;
    font-family: Alfie, seif;
    margin-bottom: 25px;
}

.quick-links{
    padding-right: 45px;
}
column-text{
    padding-bottom: 5px;
}

.blurb{
    padding: 0 45px;
}

.newsletter{
    padding-left: 45px;
}

button.subscribe{
    outline: none;
    margin-top: 10px;
    width: 110px;
    text-align: center;
    user-select: none;
    color: white;
    font-family: Helvetica;
    font-size: 13px;
    padding: 9px 24px;
    border: 1px solid #7745ae;
    border-radius: 20px;
    background: #7745ae;
}

input:first-of-type{
    margin-top: 0;
}
footer input{
    color: rgb(121, 121, 121);
    outline-color: black;;
    background: #f5f5f5;
    font-family: Helvetica;
    width: 240px;
    height: 40px;
    margin-top: 10px;
    padding: 9px 20px;
    line-height: 20px;
    font-size: 13px;
    appearance: none;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
}

@media (max-width: 425px){
    footer{
        flex: 0 1 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quick-links{
        padding: 0;
    }
    .blurb{
        padding: 0 30px;
        margin: 40px 0;
        justify-content: center;
        align-items: flex-start;
    }
    .newsletter{
        padding: 0;
        align-items: center;
    }
}

@media (max-width: 768px){
    footer{
        flex: 0 1 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quick-links{
        padding: 0;
    }
    .blurb{
        padding: 0 30px;
        margin: 40px 0;
        justify-content: center;
        align-items: flex-start;
    }
    .newsletter{
        padding: 0;
        align-items: center;
    }
}