@import "reset.css";
@import "base.css";

/* -====- Header -====- */
announcement{
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
controls{
  flex-direction: row;
  align-items: center;
  margin: 10px 5vw;
}
nav{
  flex: 1;
  flex-direction: row;
}
nav ul{
  flex-direction: row;
  justify-content: space-evenly;
}
cta{
  flex-direction: row;
  align-items: center;
  font-size: 30px;
}
.search{
  margin-right: 10px;
}
.cart{
  margin-right: 10px;
}
banner{
  background-size: cover;
  background-image: url("https://placekitten.com/960/400");
  align-items: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 400px;
  justify-content: center;
  border: 1px solid black;
}
.main-title{
  font-size: 54px;
}
.main-sub-title{
  font-size: 28px;
}

/* -====- Section -====- */
main{
  align-items: center;
}
section{
  display: flex;
  width: 900px;
}
section-header{
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  font-size: 32px;
}
product-row{
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

product{
  background: red;
}

section-expand{
  flex: 0;
  max-width: 100px;
  align-self: center;
  justify-content: center;
  text-align: center;
  background: yellow;
  border: 1px solid black;
  border-radius: 5px;
}

.product-category product-row{
  justify-content: center;
}
category{
  margin: 0 20px;
  align-items: center;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

social-media{
  flex-direction:row;
  font-size: 36px;
}