html, body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}

*{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

head *{
  display: none;
}

script{
  display: none;
}
announcement{
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
controls{
  flex-direction: row;
  align-items: center;
}

nav ul{
  flex-direction: row;
}

cta{
  flex-direction: row;
  align-items: center;
}

banner{
  background-size: cover;
  background-image: url("https://placekitten.com/960/400");
}
spacer{
  flex: 1;
}

nav{
    flex: 1;

}