/* === Category Header === */
.subheader-category{
  border-top: 1px solid rgba( 0, 0, 0, .1);
  border-bottom: 1px solid rgba( 0, 0, 0, .1);
}

subheader-title{
  font-family: Alfie, sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 55px 0 44px;
}

sort{
  flex-direction: row;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba( 0, 0, 0, .1);
  font-size: 13px;
}

filter-select{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

filter-title{
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

filter-count{
  justify-content: center;
  font-style: italic;
  font-size: 15px;
}

/* === Category Dropdown Styling === */
dropdown.drop-category{
  width: 150px;
  background: white;
}
dropdown.drop-category option-list{
  background: white;
}
